
  <h1>
  5d4
  </h1>

<ul>  
  <li> 
  <%= @first_die_four %>
  </li>  
  <li>
  <%= @second_die_four %>
  </li>
  <li> 
  <%= @third_die_four %>
  </li>  
  <li>
  <%= @fourth_die_four %>
  </li>  
  <li> 
  <%= @fifth_die_four %>
  </li>  
</ul>
